/**
 * Type: Base.
 * Global form styling.
 */


.form-item {
  margin-bottom: 15px;

  & .description {
    margin-top: 5px;
    opacity: .5;
  }
}

.form-actions {
  margin-top: 15px;

  .button + .button {
    margin-left: 5px;
  }
}

.user-pass,
.user-login-form {
  max-width: 816px;
  margin: 40px auto;
  padding-left: 15px;
  padding-right: 15px;
}
