{{ attach_library('PROJECT_NAME/search-toggle') }}

<div class="search-toggle js-search-toggle">
  {% include '@atoms/svg-icon/svg-icon.twig' with {
    'svgIconName': 'search'
  } %}
  {{ 'Search'|t }}
</div>
