/**
 * Type: Atom.
 * Text link.
 */

.text-link {
  text-decoration: none;
  font-size: var(--base-font-size);
  font-weight: 700;
  line-height: 1.3;
  position: relative;
  color: var(--theme-color);
  font-family: var(--heading-font-family);
  transition: all .3s;
  will-change: transform;
  padding: 7px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    background-color: var(--theme-button-background-color);
    transition: transform .3s;
    will-change: transform;
    transform-origin: bottom;
    z-index: -1;
    height: calc(100% + 13px);
    transform: translateY(75%);
  }

  &:hover,
  &:focus {
    color: var(--theme-button-color);

    &::after {
      transform: translateY(0);
    }
  }
}
