<div {{ (not attributes ? create_attribute() : attributes).addClass('headline')}}>
  {% block content %}
    {{ text }}
  {% endblock %}
</div>
{% if date_interval %}
  <div class="date-interval">
    {{ date_interval }}
  </div>
{% endif %}
