/**
 * Type: Organisms.
 * Pager.
 */

.pager {
  padding-left: 0;
  margin-top: 50px;

  &__items {
    padding-left: 0;
    list-style: none;
    text-align: center;
  }

  &__item {
    display: inline-block;
    text-align: center;
    font-size: var(--base-font-size-small);

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.is-active {
      font-weight: bold;
    }
  }

  a {
    text-decoration: none;
    color: var(--color-white);
  }
}
