/**
 * Type: Molecules.
 * Breadcrumb.
 */

.breadcrumb {
  position: relative;
  padding: 20px 0;
  font-size: var(--base-font-size-small);

  &--shadow {
    padding: 20px 0 40px;

    .breadcrumb {
      &__link {
        color: var(--color-white);
      }

      &__link--active {
        color: rgba(255, 255, 255, .8);
      }

      &__item + &::before {
        color: var(--color-white);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, .4), transparent);
      pointer-events: none;
    }
  }

  &--pull-down {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
  }

  &__items {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
  }

  &__item {
    display: inline-block;
    list-style: none;

    & + &::before {
      content: '/';
      padding: 5px 3px;
      color: var(--color-gray);
    }
  }

  &__link {
    color: var(--color-gray);
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: color .2s;

    &--active {
      color: var(--color-black);
      font-weight: 600;
    }
  }
}
