{{ attach_library('dds_premium/header') }}

<header class="header" id="js-header">
  <div class="container">
    <div class="header__inner">
      <div class="header__left">
        {% block site_branding %}
          {% include '@molecules/logo/logo.twig' with logo %}
        {% endblock %}
      </div>
      <div class="header__right">
        {% if display_burger_toggle %}
          {% include '@molecules/burger/burger.twig' %}
        {% endif %}
        {% if display_search_toggle %}
          {% include '@molecules/search-toggle/search-toggle.twig' %}
        {% endif %}
        {% block navigation %}
          {% include '@molecules/navigation/navigation.twig' with {
            'items': navigation.items
          } %}
        {% endblock %}
      </div>
    </div>
  </div>
</header>
