/**
 * Type: Molecules.
 * Sub navigation.
 */

.sub-navigation {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: all .3s;
  will-change: transform;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, .1);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    right: 0%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
    border-top: solid 1px var(--color-gray);
  }

  &::after {
    left: auto;
    right: -50%;
  }

  &__list {
    margin: 15px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    transition: opacity .3s;

    &.fade-enter,
    &.fade-leave-to {
      opacity: 0;
    }

    &.fade-enter-to,
    &.fade-leave {
      opacity: 1;
    }
  }

  &__item {
    height: 45px;
    flex-basis: calc(100% / 6);
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: var(--color-gray);
    border-width: 1px 1px 1px 0;
    font-size: var(--base-font-size);
    text-decoration: none;
    color: var(--header-selected-text-color);
    font-weight: 700;
    border-top: 0;
    border-bottom: 0;

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }

    &:nth-child(n + 7) {
      flex-grow: 0;
      border-top: 0;
    }

    &:hover,
    &:focus {
      .icon--arrow-right {
        transform: translateX(5px);
      }
    }

    .icon--arrow-right {
      fill: var(--header-selected-text-color);
      border: solid 1px var(--header-selected-text-color);
      border-radius: 50%;
      width: 22px;
      height: 22px;
      margin-left: 10px;
      padding: 5px;
      transition: transform .3s;
      will-change: transform;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
}
