/**
 * Type: Organisms.
 * Footer.
 */

.shop-list-section {
  &__group {
    margin-bottom: 20px;
  }

  a {
    display: block;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
