{% render '@logo' with {
  'attributes': create_attribute()
} %}
<section class="section section--no-spacing">
  {% render '@hero' %}
</section>

<section class="section section--spacing-top-none">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        {% render '@headline' %}
        {% render '@subheadline' %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        Lorem ipsum dolor sit amet consectetur adipisicing eleit. Error assumnda eveniet ab veritatis qui doloremque beatae odio, sit deserunt, molestias fugiat aut nesciunt. Velit sapiente nostrum, atque ullam nesciunt quos.
      </div>
      <div class="col-xs-12 col-md-6">
        {% render '@image' with {
          'attributes': create_attribute().addClass('figure--centered')
        }%}
      </div>
    </div>

  </section>

  <section class="section section--no-spacing">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          {% render '@openning-times' %}
        </div>
        <div class="col-xs-12 col-md-6">
          {% render '@image-slideshow' %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          {% render '@contact-info' %}
        </div>
      </div>
    </div>
  </section>



{% render '@burger-menu' %}
{% render '@search-overlay' %}

