{{ attach_library('PROJECT_NAME/quote') }}

<div{{ (not attributes ? create_attribute() : attributes).addClass('quote') }}>
  {% include '@particles/svg-icon/svg-icon.twig' with {
    'svgIconName': 'quote'
  } %}
  <p>{{ quote_text }}</p>
  {% include '@particles/svg-icon/svg-icon.twig' with {
    'svgIconName': 'quote'
  } %}
  {% if quote_source %}
    <div class="quote__author">{{ quote_source }}</div>
  {% endif %}
</div>
