/**
 * Type: Molecules.
 * List view item.
 */

.list-view-item {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  text-decoration: none;
  color: currentColor;
  margin-bottom: 60px;
  flex-direction: column;
  width: 100%;

  @media (--viewport-md-min) {
    flex-direction: row;
  }

  picture,
  img {
    height: 100%;
    min-height: inherit;
    display: block;
  }

  img {
    object-fit: cover;
    width: 100%;
  }

  &__image {
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 20px;
    min-height: 200px;

    &--fallback {
      background-color: var(--color-gray);
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 20%;
        height: 20%;
        opacity: .5;
      }
    }

    @media (--viewport-md-min) {
      margin-right: 20px;
      margin-bottom: 0;
      height: auto;
      width: 25%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 30px;
    font-size: var(--base-font-size-xlarge);
    font-weight: 900;
    line-height: 1.3;

    @media (--viewport-md-min) {
      font-size: var(--base-font-size-xxlarge);
      font-weight: 900;
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: var(--base-font-size);
    font-weight: 300;
    line-height: 1.2;

    @media (--viewport-md-min) {
      font-size: var(--base-font-size-medium);
      font-weight: 300;
      line-height: 1.3;
    }
  }

  &__read-more {
    text-decoration: underline;
  }
}
