<div class="select__wrapper">
  <select {{ (not attributes ? create_attribute() : attributes).addClass('select').setAttribute('name', name).setAttribute('aria-label', label).setAttribute('id', id) }}>
    <option selected="selected" disabled="disabled">{{ label }}</option>
    {% for option in options %}
      <option value="{{ option.value }}">{{ option.name }}</option>
    {% endfor %}
  </select>
  {% include '@atoms/svg-icon/svg-icon.twig' with {
    'attributes': create_attribute().addClass('select__icon'),
    'svgIconName': 'arrow-down'
  } %}
</div>
