{% render '@header' %}
{% render '@logo' with {
  'attributes': create_attribute().addClass('logo--mobile')
} %}
<section class="section">
  {% render '@search-page' %}
</section>
{% render '@burger-menu' %}
{% render '@search-overlay' %}
{% render '@footer' %}
