/**
 * Type: Molecules.
 * Burger.
 */

.burger {
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  display: none;

  @media (--viewport-sm-max) {
    font-size: var(--base-font-size-extra-small);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    order: 2;
    margin-left: 50px;
  }

  @media (--viewport-md-min) {
    margin-left: 20px;
  }

  @media (--viewport-xs-max) {
    margin-left: 30px;
  }

  &__lines {
    > span {
      display: block;
      width: 40px;
      height: 1px;
      margin-bottom: 10px;
      background-color: var(--header-selected-text-color);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__label {
    font-size: var(--base-font-size-extra-small);
    margin-left: 15px;
    font-weight: 300;

    @media (--viewport-md-min) {
      display: none;
    }
  }

  &--light {
    > span {
      background-color: white;
    }
  }
}
