/**
 * Type: Base.
 * Belongs: Burger menu.
 * Drupal styling.
 */

/* When user is logged in, we remove fixed from burger-menu */
body.adminimal-admin-toolbar .burger-menu--open {
  position: absolute;
  top: 39px;
}

body.adminimal-admin-toolbar.toolbar-tray-open .burger-menu {
  position: absolute;
  top: 79px;
}

@media (--viewport-md-min) {
  /* When user is logged in, we change position of secondary menu in burger menu */
  body.adminimal-admin-toolbar .burger-menu-list--secondary {
    top: 41px;
  }
}

/* When user is logged in, we change height for burger menu inner element */
body.adminimal-admin-toolbar .burger-menu__inner {
  height: calc(100vh - 39px);
}

body.adminimal-admin-toolbar.toolbar-tray-open .burger-menu__inner {
  height: calc(100vh - 79px);
}
