/**
 * Type: Base.
 * Belongs: Header.
 * Drupal styling.
 */

/* When user is logged in, we remove fixed from header */
@media (--viewport-md-min) {
    body.adminimal-admin-toolbar header.header {
        position: relative;
    }
}
.ui-dialog:not(.ui-dialog-position-side) {
    top: 50%!important;
    height: 80%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);

    .ui-dialog-content {
        max-height: calc(100% - 46px)!important;
        min-height: calc(100% - 46px)!important;
    }
}

#layout-builder-modal {

    .js-media-library-selection {

        .js-media-library-item {
            margin: 10px 0;

            .js-form-type-number {
                margin: 0 0 20px;

                label {
                    display: block;
                }
            }

            input.js-form-submit {
                float: right;
            }
        }
    }
}
