/**
 * Type: Base.
 * Off-canvas button styling.
 */

#drupal-off-canvas button,
#drupal-off-canvas .button {
  border-radius: 0;
  height: inherit;
  margin-top: 15px;
  background-color: var(--color-gray);
  padding: 10px;
  display: block;
  width: 100%;
}

#drupal-off-canvas button svg,
#drupal-off-canvas .button svg {
  display: none;
}
