/**
 * Type: Molecules.
 * Image.
 */

.image {
  position: relative;
  width: 100%;
  padding-top: 0;

  picture,
  img {
    height: inherit;
    display: block;
  }

  img {
    object-fit: cover;
    width: 100%;
  }

  &--square {
    padding-top: 100%;
  }

  &--portrait {
    padding-top: 130%;
  }

  &--shadow {
    box-shadow: 0 27px 50px 0 rgba(35, 35, 35, .15);
  }
}
