{{ attach_library('dds_premium/openning-times') }}

<div class="openning-time-box__content">
  {% for day in days %}
    <div class="openning-time-box__content-row">
      <span>{{ day.weekday }}</span>
      <span>{{ day.time }}</span>
    </div>
  {% endfor %}
</div>
